/*===============Styles================*/
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=League+Gothic&family=Pacifico&display=swap&family=Raleway:ital,wght@0,300;0,400;1,100;1,400&display=swap'");
/*===============Global variabls================*/
:root {
  --bg-grade-I: #ffe7be;
  --bg-grade-II: #ffff80;
  --bg-grade-III: #cda5f3;
  --words-no-1: #660000;
  --words-no-2: #70380f;
  --words-no-3: #ff1a40;
  --words-no-4: #ac9a92;
  --words-no-5: #74655c;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*general classes*/
.padding {
  padding: 10px;
}
.color {
  color: var(--words-no-3);
}
.flex {
  display: flex;
}
/*===============body================*/
body {
  font-size: 16px;
  font-family: "Raleway", Geneva;
}
.main-page {
  background-color: var(--bg-grade-III);
  height: 100vh;
  overflow-x: hidden;
}
.btn {
  height: 70px;
  width: 150px;
  background-color: var(--words-no-3);
  color: var(--bg-grade-II);
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.hidden {
  display: none;
}
/*.aside*/
.aside {
  width: 290px;
  background-color: var(--bg-grade-I);
  height: 100%;
  position: fixed;
  border-right: 2px solid var(--words-no-4);
}
/*.aside-head*/
.aside .aside-head h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--words-no-2);
  letter-spacing: 4px;
}
.aside .aside-head h2 span {
  font-size: 60px;
  font-family: "Pacifico", Geneva;
}
.aside-head {
  max-height: 150px;
  line-height: 100px;
  padding: 20px 0;
  text-align: center;
}
.aside-head::before {
  content: "";
  position: absolute;
  border-top: 4px solid var(--words-no-3);
  border-left: 4px solid var(--words-no-3);
  width: 40px;
  height: 40px;
  top: 22px;
  left: 15px;
}
.aside-head::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--words-no-3);
  border-right: 4px solid var(--words-no-3);
  width: 40px;
  height: 40px;
  bottom: 532px;
  right: 14px;
}
/*aside-nav*/
.aside .aside-nav {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.aside .aside-nav li {
  flex: 0 0 100%;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.aside .aside-nav li a {
  border-bottom: 2px solid var(--words-no-4);
  width: 120px;
  display: flex;
  justify-content: space-between;
  color: var(--words-no-3);
  transition: all 0.3s ease-in;
}
.aside .aside-nav li a:hover {
  color: var(--words-no-2);
  border-bottom: none;
}
.aside .aside-nav li a span {
  width: 80%;
  text-align: left;
  margin-left: 20px;
}
/*.hide*/
.aside .hide {
  position: fixed;
  width: 50px;
  height: 40px;
  top: 10px;
  left: 300px;
  border-radius: 5px;
  background-color: var(--bg-grade-I);
  box-shadow: 0px 0px 3px 1px var(--words-no-4);
  cursor: pointer;
  transition: all 0.5s ease-in;
  display: none;
}
.aside .hide .line {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  top: 10px;
  left: 13px;
  background-color: var(--words-no-3);
}
.aside .hide::before {
  content: "";
  background-color: var(--words-no-3);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 20px;
  left: 13px;
}
.aside .hide::after {
  content: "";
  background-color: var(--words-no-3);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30px;
  left: 13px;
}
.aside .hide:hover {
  transform: scaleX(1.2);
  background-color: rgb(62, 62, 159);
}
/*.sections*/
.sections {
  position: relative;
  max-width: 75%;
  top: 50px;
  left: 300px;
}
/*.home*/
.home {
  width: 100%;
  justify-content: space-between;
}
/*.home-text*/
.home-text {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home-head1 {
  flex: 0 0 100%;
  max-width: 100%;
  height: 20%;
  font-size: 30px;
}
.home-name {
  font-family: "Pacifico", Geneva;
  letter-spacing: 2px;
}
.home-head2 {
  margin-top: -50px;
  height: 20%;
  animation: job 3s infinite ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes job {
  0% {
    transform: translateX(200px);
  }
}
.home-job {
  font-size: 30px;
}
.home-paragraph {
  margin-top: -50px;
  height: 20%;
  font-size: 20px;
}
/*.home-img*/
.home-img {
  display: flex;
  position: relative;
  left: 150px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-right: 10px solid var(--words-no-3);
  border-top: 10px solid var(--words-no-3);
  top: -20px;
  right: -30px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-left: 10px solid var(--words-no-3);
  border-bottom: 10px solid var(--words-no-3);
  bottom: 60px;
  left: -25px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.my-image {
  border-radius: 20px;
}
/*.home-hire*/
.home-hire {
  position: relative;
  top: 400px;
  right: 730px;
  transition: all 0.3s ease-in;
}
.home-hire:hover {
  background-color: var(--bg-grade-III);
  font-size: 30px;
}
/*==================.about======================*/
.about {
  flex-wrap: wrap;
}
.about-header {
  flex: 0 0 90%;
  max-width: 90%;
  color: var(--words-no-5);
}
.about-job {
  color: var(--words-no-3);
  font-size: 20px;
}
.about-paragraph {
  color: var(--words-no-5);
}
.personal-informations {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-informations1 {
  height: 200px;
  flex: 0 0 100%;
  max-width: 100%;
}
.about-personal,
.about-informations2,
.about-skills {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-personal,
.about-informations2 {
  flex: 0 0 30%;
  max-width: 30%;
}
.about-informations2 {
  margin-left: 20px;
}
.personal-items,
.informations2-items {
  color: var(--words-no-2);
  font-weight: normal;
  font-size: 15px;
  margin-left: 3px;
}
.about-skills {
  flex: 0 0 40%;
  max-width: 35%;
  margin-left: 35px;
}
.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
  justify-content: space-between;
  color: var(--bg-grade-I);
  text-shadow: 1px 1px 3px #000;
  position: relative;
}
.skill1::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 272px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill1::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 48px;
  height: 5px;
  left: 273px;
  top: 21px;
}
.skill2::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 256px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill2::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 64px;
  height: 5px;
  left: 257px;
  top: 21px;
}
.skill3::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 224px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill3::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 96px;
  height: 5px;
  left: 225px;
  top: 21px;
}
.skill4::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 288px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill4::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 32px;
  height: 5px;
  left: 287px;
  top: 21px;
}
.skill5::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 160px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill5::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 160px;
  height: 5px;
  left: 162px;
  top: 21px;
}
.skill6::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 224px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill6::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 96px;
  height: 5px;
  left: 225px;
  top: 21px;
}
/*.about-buttons*/
.about-buttons .btn:first-of-type,
.about-buttons .btn:last-of-type {
  margin: 20px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.about-buttons .btn:last-of-type {
  width: 100px;
}
.about-buttons .btn:first-of-type:hover,
.about-buttons .btn:last-of-type:hover {
  background-color: var(--bg-grade-III);
}
/*about-educEx*/
.about-educEx {
  justify-content: space-between;
}
.education-container,
.experience-container {
  height: 800px;
  flex: 0 0 45%;
  background-color: lavender;
  border-radius: 10px;
}
.about-education {
  flex: 0 0 90%;
  max-width: 90%;
  height: 130%;
  position: relative;
  left: 30px;
  height: 89%;
}
.about-education::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 2px;
  height: 87%;
  top: 107px;
  left: 16px;
}
.about-education .education-header {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.about-education .education-section {
  left: 30px;
  position: relative;
}
.about-education .education-section::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20px;
  left: -20px;
}
.about-education .education-section i {
  font-size: 15px;
  margin: 20px auto;
}
.about-education .education-section i span {
  color: var(--words-no-5);
  margin-left: 10px;
}
.education-section .edSecHeader {
  margin-bottom: 20px;
}
.education-section .edSecContent {
  color: var(--words-no-5);
  width: 90%;
}
/*.services*/
.services {
  transition: all 0.3s ease;
}
.services-header {
  font-size: 35px;
  padding-bottom: 60px;
  position: relative;
}
.services-header::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--words-no-3);
  top: 60px;
  left: 0px;
}
.services-header::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--words-no-3);
  top: 70px;
  left: 0px;
}
.services-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
  text-align: center;
}
.services-item:hover {
  box-shadow: 0 0 20px var(--bg-grade-I);
}
.services-item i {
  font-size: 25px;
  color: var(--words-no-3);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.services-item i:hover {
  color: var(--bg-grade-I);
  background-color: var(--words-no-3);
}
.service-item-head {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.service-item-description {
  color: rgb(42, 39, 39);
}
