/*===============Styles================*/
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=League+Gothic&family=Pacifico&display=swap&family=Raleway:ital,wght@0,300;0,400;1,100;1,400&display=swap'");
/*===============Global variabls================*/
:root {
  --bg-grade-I: #ffe7be;
  --bg-grade-II: #ffff80;
  --bg-grade-III: #cda5f3;
  --words-no-1: #660000;
  --words-no-2: #70380f;
  --words-no-3: #ff1a40;
  --words-no-4: #ac9a92;
  --words-no-5: #74655c;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*general classes*/
.padding {
  padding: 10px;
}
.color {
  color: var(--words-no-3);
}
.flex {
  display: flex;
}
.section-header {
  font-size: 40px;
  padding-bottom: 60px;
  position: relative;
  left: 20px;
}
.section-header::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--words-no-3);
  top: 60px;
  left: 0px;
}
.section-header::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--words-no-3);
  top: 70px;
  left: 0px;
}
/*===============body================*/
body {
  font-size: 16px;
  font-family: "Raleway", Geneva;
  background-color: var(--bg-grade-III);
}
.main-page {
  /* overflow-x: hidden; */
}
.btn {
  height: 70px;
  width: 150px;
  background-color: var(--words-no-3);
  color: var(--bg-grade-II);
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.hidden {
  display: none;
}
/*.aside*/
.aside {
  width: 290px;
  background-color: var(--bg-grade-I);
  height: 100%;
  position: fixed;
  border-right: 2px solid var(--words-no-4);
}
.aside .aside-head h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--words-no-2);
  letter-spacing: 4px;
}
.aside .aside-head h2 span {
  font-size: 60px;
  font-family: "Pacifico", Geneva;
}
.aside-head {
  max-height: 150px;
  line-height: 100px;
  padding: 20px 0;
  text-align: center;
}
.aside-head::before {
  content: "";
  position: absolute;
  border-top: 4px solid var(--words-no-3);
  border-left: 4px solid var(--words-no-3);
  width: 40px;
  height: 40px;
  top: 22px;
  left: 15px;
}
.aside-head::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--words-no-3);
  border-right: 4px solid var(--words-no-3);
  width: 40px;
  height: 40px;
  bottom: 532px;
  right: 14px;
}
.aside .aside-nav {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.aside .aside-nav li {
  flex: 0 0 100%;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.aside .aside-nav li a {
  border-bottom: 2px solid var(--words-no-4);
  width: 120px;
  display: flex;
  justify-content: space-between;
  color: var(--words-no-3);
  transition: all 0.3s ease-in;
}
.aside .aside-nav li a:hover {
  color: var(--words-no-2);
  border-bottom: none;
}
.aside .aside-nav li a span {
  width: 80%;
  text-align: left;
  margin-left: 20px;
}
.aside .hide {
  position: fixed;
  width: 50px;
  height: 40px;
  top: 10px;
  left: 300px;
  border-radius: 5px;
  background-color: var(--bg-grade-I);
  box-shadow: 0px 0px 3px 1px var(--words-no-4);
  cursor: pointer;
  transition: all 0.5s ease-in;
  display: none;
}
.aside .hide .line {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  top: 10px;
  left: 13px;
  background-color: var(--words-no-3);
}
.aside .hide::before {
  content: "";
  background-color: var(--words-no-3);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 20px;
  left: 13px;
}
.aside .hide::after {
  content: "";
  background-color: var(--words-no-3);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30px;
  left: 13px;
}
.aside .hide:hover {
  transform: scaleX(1.2);
  background-color: rgb(62, 62, 159);
}
/*.sections*/
.sections {
  position: relative;
  max-width: 75%;
  top: 50px;
  left: 300px;
}
/*.home*/
.home {
  height: 500px;
  width: 100%;
  justify-content: space-between;
}
.home-text {
  flex: 0 0 60%;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home-head1 {
  flex: 0 0 100%;
  max-width: 100%;
  height: 20%;
  font-size: 30px;
}
.home-name {
  font-family: "Pacifico", Geneva;
  letter-spacing: 2px;
}
.home-head2 {
  margin-top: -50px;
  height: 20%;
  animation: job 3s infinite ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes job {
  0% {
    transform: translateX(200px);
  }
}
.home-job {
  font-size: 30px;
}
.home-paragraph {
  margin-top: -50px;
  height: 20%;
  font-size: 20px;
}
.home-img {
  flex: 0 0 40%;
  max-width: 40%;
}
.image-container {
  position: relative;
  width: 282px;
  right: -40px;
}
.image-container::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-right: 10px solid var(--words-no-3);
  border-top: 10px solid var(--words-no-3);
  top: -22px;
  right: -43px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.image-container::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-left: 10px solid var(--words-no-3);
  border-bottom: 10px solid var(--words-no-3);
  bottom: -18px;
  left: -25px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.my-image {
  border-radius: 20px;
}
.home-hire {
  position: absolute;
  top: 400px;
  right: 730px;
  transition: all 0.3s ease-in;
}
.home-hire:hover {
  background-color: var(--bg-grade-III);
  font-size: 30px;
}
/*==================.about======================*/
.about {
  flex-wrap: wrap;
}
.about-header {
  flex: 0 0 90%;
  max-width: 90%;
  color: var(--words-no-5);
}
.about-job {
  color: var(--words-no-3);
  font-size: 20px;
}
.about-paragraph {
  color: var(--words-no-5);
}
.personal-informations {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-informations1 {
  height: 200px;
  flex: 0 0 100%;
  max-width: 100%;
}
.about-personal,
.about-informations2,
.about-skills {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-personal,
.about-informations2 {
  flex: 0 0 30%;
  max-width: 30%;
}
.about-informations2 {
  margin-left: 20px;
}
.personal-items,
.informations2-items {
  color: var(--words-no-2);
  font-weight: normal;
  font-size: 15px;
  margin-left: 3px;
}
.about-skills {
  flex: 0 0 40%;
  max-width: 35%;
  margin-left: 35px;
}
.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
  justify-content: space-between;
  color: var(--bg-grade-I);
  text-shadow: 1px 1px 3px #000;
  position: relative;
}
.skill1::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 272px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill1::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 48px;
  height: 5px;
  left: 273px;
  top: 21px;
}
.skill2::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 256px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill2::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 64px;
  height: 5px;
  left: 257px;
  top: 21px;
}
.skill3::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 224px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill3::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 96px;
  height: 5px;
  left: 225px;
  top: 21px;
}
.skill4::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 288px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill4::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 32px;
  height: 5px;
  left: 287px;
  top: 21px;
}
.skill5::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 160px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill5::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 160px;
  height: 5px;
  left: 162px;
  top: 21px;
}
.skill6::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 224px;
  height: 5px;
  left: 1px;
  top: 21px;
}
.skill6::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  width: 96px;
  height: 5px;
  left: 225px;
  top: 21px;
}
/*.about-buttons*/
.about-buttons .btn:first-of-type,
.about-buttons .btn:last-of-type {
  margin: 20px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.about-buttons .btn:last-of-type {
  width: 100px;
}
.about-buttons .btn:first-of-type:hover,
.about-buttons .btn:last-of-type:hover {
  background-color: var(--bg-grade-III);
}
/*about-educEx*/
.about-educEx {
  justify-content: space-between;
}
.education-container,
.experience-container {
  height: 800px;
  flex: 0 0 45%;
  background-color: lavender;
  border-radius: 10px;
}
.about-education {
  flex: 0 0 90%;
  max-width: 90%;
  position: relative;
  left: 30px;
  height: 89%;
}
.about-education::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 2px;
  height: 88%;
  top: 104px;
  left: 16px;
}
.about-education .education-header {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.about-education .education-section {
  left: 30px;
  position: relative;
}
.about-education .education-section::before {
  content: "";
  position: absolute;
  background-color: var(--words-no-3);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20px;
  left: -20px;
}
.education-section {
  max-height: 100%;
}
.about-education .education-section i {
  font-size: 15px;
  margin: 20px auto;
}
.about-education .education-section i span {
  color: var(--words-no-5);
  margin-left: 10px;
}
.education-section .edSecHeader {
  margin-bottom: 20px;
}
.education-section .edSecContent {
  color: var(--words-no-5);
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}
/*.services*/
.services {
  transition: all 0.3s ease;
}
.services-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
  text-align: center;
}
.services-item:hover {
  box-shadow: 0 0 20px var(--bg-grade-I);
}
.services-item i {
  font-size: 25px;
  color: var(--words-no-3);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.services-item i:hover {
  color: var(--bg-grade-I);
  background-color: var(--words-no-3);
}
.service-item-head {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.service-item-description {
  color: rgb(42, 39, 39);
  font-size: 20px;
}
/*.portfolio*/
.portfolio-container {
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 53px;
}
.portfolio-container-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: var(--words-no-5);
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio-item:hover .portfolio-item-img {
  border: 10px solid var(--words-no-5);
}
.portfolio-item-img {
  width: 90%;
  height: 200px;
  margin: 15px auto;
  border: 10px solid var(--words-no-2);
  border-radius: 20px;
}
/*.contact*/
.contact-container-head1,
.contact-container-head2 {
  letter-spacing: 3px;
  word-spacing: 3px;
  color: var(--words-no-3);
  text-align: center;
  margin-bottom: 10px;
}
.contact-container-content1,
.contact-container-content2 {
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
.contact-container-head2 {
  margin-top: 10px;
}
.contact-items {
  justify-content: space-between;
}
.contact-item1,
.contact-item2 {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
.contact-item3,
.contact-item4 {
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
}
.contact-item1 i,
.contact-item2 i,
.contact-item3 i,
.contact-item4 i {
  color: var(--words-no-3);
  font-size: 17px;
  margin-bottom: 10px;
}
.contact-item1 p,
.contact-item2 p,
.contact-item3 p,
.contact-item4 p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-item1 p:last-of-type,
.contact-item2 p:last-of-type,
.contact-item3 p:last-of-type,
.contact-item4 p:last-of-type {
  font-size: 15px;
  font-weight: normal;
  color: var(--words-no-5);
  margin-bottom: 10px;
}
.contact-form {
  flex-wrap: wrap;
}
.form-name,
.form-mail {
  flex: 0 0 50%;
  max-width: 50%;
  height: 100px;
}
.form-name input,
.form-mail input {
  display: inline-block;
  width: 90%;
  height: 60%;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-subject {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100px;
  text-align: center;
}
.form-subject input {
  display: inline-block;
  width: 95%;
  height: 60%;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-message {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-top: -10px;
}
.form-message textarea {
  width: 95%;
  height: 80%;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-name input::placeholder,
.form-subject input::placeholder,
.form-mail input::placeholder,
.form-message textarea::placeholder {
  font-size: 15px;
  text-decoration: underline;
}
.form-name input:hover,
.form-mail input:hover,
.form-subject input:hover,
.form-message textarea:hover {
  box-shadow: 0 0 10px var(--bg-grade-II);
}
.form-button {
  margin-left: 22px;
  width: 200px;
  transition: all 0.3s ease;
}
.form-button:hover {
  background-color: var(--bg-grade-III);
}
/*media*/
@media screen and (max-width: 1280px) {
  .aside {
    display: none;
  }
  .main-page {
    width: 100%;
  }
  .sections {
    left: 0;
    max-width: 100%;
  }
  .home-img {
    flex: 1 1 40%;
  }
  .about-skills {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .main-page {
    width: 70%;
  }
  .sections {
    left: 100px;
    max-width: 95%;
  }
  .home-text {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .image-container::before {
    right: 50px;
  }
  .home-img {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .home-img img {
    width: 200px;
  }
  .home-head2 {
    animation: job 3s infinite ease-in-out;
  }
  @keyframes job {
    0% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(-50px);
    }
  }
  .home-hire {
    height: 40px;
    left: 10px;
    top: 450px;
  }
  .about-header {
    flex: 1 1 90%;
    max-width: 90%;
    background-color: #ffff80;
  }
  .about-informations1 {
    flex-wrap: wrap;
  }
  .about-personal {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .about-informations2 {
    flex: 1 1 53%;
    max-width: 53%;
  }
  .about-skills {
    flex: 1 1 92%;
    max-width: 92%;
    height: 150px;
    margin-left: 0;
  }
  .about-skills * {
    height: 10px;
  } 
  /*.skill1::before {
    width: 272px;
  }
  .skill1::after {
    width: 48px;
    left: 274px;
  }
  .skill2::before {
    width: 80%;
  }
  .skill2::after {
    width: 20%;
    left: calc(320px + 10%);
  }
  .skill3::before {
    width: 70%;
  }
  .skill3::after {
    width: 30%;
    left: calc(320px);
  }
  .skill4::before {
    width: 90%;
  }
  .skill4::after {
    width: 10%;
    left: calc(320px + 20%);
  }
  .skill5::before {
    width: 50%;
  }
  .skill5::after {
    width: 50%;
    left: calc(320px - 25%);
  }
  */
  .about-buttons {
    position: relative;
    top: 44px;
    right: 6px;
  }
  .about-buttons .btn {
    height: 40px; 
  }
}
