/*===============Styles================*/
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=League+Gothic&family=Pacifico&display=swap&family=Raleway:ital,wght@0,300;0,400;1,100;1,400&display=swap'");
/*===============Global variabls================*/
:root {
  --bg-grade-I: #ffe7be;
  --bg-grade-II: #ffff80;
  --bg-grade-III: #f6f6d5;
  --words-no-1: #660000;
  --words-no-2: #70380f;
  --words-no-4: #ac9a92;
  --words-no-5: #74655c;
  --words-no-6: #f5f6fa !important;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*general classes*/
.padding {
  padding: 10px;
}
/* .color-scheme {
  color: var(--main-color);
} */
.flex {
  display: flex;
}
.section-header {
  font-size: 40px;
  padding-bottom: 60px;
  position: relative;
  width: 100%;
  left: 20px;
}
.section-header::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--main-color);
  top: 60px;
  left: 0px;
}
.section-header::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--main-color);
  top: 70px;
  left: 0px;
}
/*===============body================*/
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: "Raleway", Geneva;
  background-color: var(--bg-grade-III);
}
.control-color-light {
  height: 75px;
  width: 200px;
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 100;
  background-color: var(--words-no-5);
}
.reduce-width {
  opacity: 0.4;
}
.control-color-light .control-light-container,
.control-color-light .control-color-container {
  float: left;
  width: 30%;
  height: 100%;
}
.control-color-light .control-color-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.control-color-light .control-color-container .control-color-item {
  flex: 0 0 18%;
  max-width: 18%;
  border-radius: 50%;
  height: 45%;
  border: 1px solid var(--words-no-6);
  cursor: pointer;
}
.control-color-light .control-color-container .choose-color1 {
  background-color: #ff1a40;
}
.control-color-light .control-color-container .choose-color2 {
  background-color: #8a00d4;
}
.control-color-light .control-color-container .choose-color3 {
  background-color: #f782c2;
}
.control-color-light .control-color-container .choose-color4 {
  background-color: #9d4e15;
}
.control-color-light .control-color-container .choose-color5 {
  background-color: #7d7d00;
}
.control-color-light .control-light-container .fa-light,
.control-color-light .control-light-container .fa-control {
  display: block;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
  border-radius: 50%;
}
.control-color-light .control-light-container .fa-light i,
.control-color-light .control-light-container .fa-control i {
  margin-top: 17px;
  color: var(--words-no-6);
  cursor: pointer;
}
.control-color-light .control-light-container .fa-light i {
  color: var(--bg-grade-II);
}
.main-page {
  /* overflow-x: hidden; */
  /* overflow-y:auto; */
}
.btn {
  height: 70px;
  width: 150px;
  background-color: var(--main-color);
  color: var(--bg-grade-II);
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
/*.aside*/
.aside {
  width: 290px;
  background-color: var(--bg-grade-I);
  height: 100%;
  position: fixed;
  border-right: 2px solid var(--words-no-4);
  z-index: 10;
}
.aside .aside-head h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--words-no-2);
  letter-spacing: 4px;
}
.aside .aside-head h2 span {
  font-size: 60px;
  font-family: "Pacifico", Geneva;
}
.aside-head {
  max-height: 150px;
  line-height: 100px;
  padding: 20px 0;
  text-align: center;
}
.aside-head::before {
  content: "";
  position: absolute;
  border-top: 4px solid var(--main-color);
  border-left: 4px solid var(--main-color);
  width: 40px;
  height: 40px;
  top: 22px;
  left: 15px;
}
.aside-head::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  width: 40px;
  height: 40px;
  top: 70px;
  right: 14px;
}
.aside .aside-nav {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.aside .aside-nav li {
  flex: 0 0 100%;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.aside .aside-nav li a {
  border-bottom: 2px solid var(--words-no-4);
  width: 120px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
  color: inherit;
}
.aside .aside-nav li a:hover {
  border-bottom: none;
}
.aside .aside-nav li a span {
  width: 80%;
  text-align: left;
  margin-left: 20px;
}
.aside .hide {
  position: relative;
  width: 50px;
  height: 40px;
  left: 325px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px var(--words-no-4);
  cursor: pointer;
  transition: all 0.5s ease-in;
  display: none;
  z-index: 11;
}
.aside .hide .line {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  top: 10px;
  left: 13px;
  background-color: var(--main-color);
}
.aside .hide::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 20px;
  left: 13px;
}
.aside .hide::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30px;
  left: 13px;
}
.aside .hide:hover {
  transform: scaleX(1.2);
}
.aside .fa-closing {
  display: none;
  position: absolute;
  width: 32px;
  height: 25px;
  left: -4px;
  top: -1px;
  z-index: 1;
  text-align: center;
}
.aside .fa-closing i {
  height: 100%;
  line-height: 25px;
  display: block;
  background-color: var(--bg-grade-III);
  color: inherit;
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  color: var(--main-color);
}
/*.sections*/
.sections {
  position: relative;
  max-width: 75%;
  top: 50px;
  left: 300px;
}
/*.home*/
.home {
  height: 500px;
  width: 100%;
  justify-content: space-between;
}
.home,
.about,
.services,
.portfolio,
.contact {
  position: absolute;
}
#display {
  display: none;
}
.about {
  left: 10px;
}
.home-text {
  flex: 0 0 60%;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home-head1 {
  flex: 0 0 100%;
  max-width: 100%;
  height: 20%;
  font-size: 30px;
}
.home-name {
  font-family: "Pacifico", Geneva;
  letter-spacing: 2px;
  color: var(--main-color);
}
.home-head2 {
  margin-top: -50px;
  height: 20%;
  animation: job 3s infinite ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes job {
  0% {
    transform: translateX(200px);
  }
}
.home-job {
  font-size: 30px;
  color: var(--main-color);
}
.home-paragraph {
  margin-top: -50px;
  height: 20%;
  font-size: 20px;
}
.home-img {
  flex: 0 0 40%;
  max-width: 40%;
}
.image-container {
  position: relative;
  width: 282px;
  right: -40px;
}
.image-container::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-right: 10px solid var(--main-color);
  border-top: 10px solid var(--main-color);
  top: -22px;
  right: -43px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.image-container::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-left: 10px solid var(--main-color);
  border-bottom: 10px solid var(--main-color);
  bottom: -18px;
  left: -25px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.my-image {
  border-radius: 20px;
}
.home-hire {
  position: absolute;
  top: 400px;
  right: 730px;
  transition: all 0.3s ease-in;
}
.home-hire:hover {
  background-color: var(--bg-grade-III);
  font-size: 30px;
}
/*==================.about======================*/
.about {
  flex-wrap: wrap;
}
.about-header {
  flex: 0 0 90%;
  max-width: 90%;
  color: var(--words-no-5);
}
.about-job {
  color: var(--main-color);
  font-size: 20px;
}
.about-paragraph {
  color: var(--words-no-5);
}
.personal-informations {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-informations1 {
  height: 200px;
  flex: 0 0 100%;
  max-width: 100%;
}
.about-personal,
.about-informations2,
.about-skills {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-personal,
.about-informations2 {
  flex: 0 0 30%;
  max-width: 30%;
}
.about-informations2 {
  margin-left: 20px;
}
.personal-items,
.informations2-items {
  color: var(--words-no-2);
  font-weight: normal;
  font-size: 15px;
  margin-left: 3px;
}
.about-skills {
  flex: 0 0 40%;
  max-width: 35%;
  margin-left: 35px;
}
.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
  justify-content: space-between;
  color: var(--bg-grade-I);
  text-shadow: 1px 1px 3px #000;
  position: relative;
}
.skill1::before,
.skill2::before,
.skill3::before,
.skill4::before,
.skill5::before,
.skill6::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 5px;
  top: 21px;
}
.skill1::after,
.skill2::after,
.skill3::after,
.skill4::after,
.skill5::after,
.skill6::after {
  content: "";
  position: absolute;
  background-color: var(--words-no-4);
  height: 5px;
  top: 21px;
}
.skill1::before {
  width: 85%;
}
.skill1::after {
  width: 15%;
  left: 85%;
}
.skill2::before {
  width: 80%;
}
.skill2::after {
  width: 20%;
  left: 80%;
}
.skill3::before {
  width: 70%;
}
.skill3::after {
  width: 30%;
  left: 70%;
}
.skill4::before {
  width: 90%;
}
.skill4::after {
  width: 10%;
  left: 90%;
}
.skill5::before {
  width: 50%;
}
.skill5::after {
  width: 50%;
  left: 50%;
}
.skill6::before {
  width: 70%;
}
.skill6::after {
  width: 30%;
  left: 70%;
}
/*.about-buttons*/
.about-buttons .btn:first-of-type,
.about-buttons .btn:last-of-type {
  margin: 20px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.about-buttons .btn:last-of-type {
  width: 100px;
}
.about-buttons .btn:first-of-type:hover,
.about-buttons .btn:last-of-type:hover {
  background-color: var(--bg-grade-III);
}
/*about-educEx*/
.about-educEx {
  justify-content: space-between;
}
.education-container,
.experience-container {
  height: 800px;
  flex: 0 0 45%;
  position: relative;
  background-color: lavender;
  border-radius: 10px;
}
.education-container::after,
.experience-container::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 58%;
  top: 104px;
  left: 16px;
}
.about-education {
  flex: 0 0 90%;
  max-width: 90%;
}
.about-education .education-header {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.about-education .education-section {
  left: 30px;
  position: relative;
}
.about-education .education-section::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20px;
  left: -20px;
}
.education-section {
  max-height: 100%;
}
.education-header,
.education-section .fa-calendar,
.edSecHeader {
  color: #000;
}
.about-education .education-section i {
  font-size: 15px;
  margin: 20px auto;
}
.about-education .education-section i span {
  color: var(--words-no-5);
  margin-left: 10px;
}
.education-section .edSecHeader {
  margin-bottom: 20px;
}
.education-section .edSecContent {
  color: var(--words-no-5);
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.education-section:last-child {
  position: relative;
}
.education-section:last-child .edSecContent::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 90%;
  top: 29px;
  left: -14px;
}
/*.services*/
.services {
  transition: all 0.3s ease;
}
.services .services-container {
  flex-wrap: wrap;
}
.services-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
  text-align: center;
}
.services-item:hover {
  box-shadow: 0 0 20px var(--bg-grade-I);
}
.services-item:hover i {
  color: var(--bg-grade-I);
  background-color: var(--main-color);
}
.services-item i {
  font-size: 25px;
  color: var(--main-color);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.service-item-head {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.service-item-description {
  color: rgb(42, 39, 39);
  font-size: 20px;
}
/*.portfolio*/
.portfolio-container {
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 53px;
}
.portfolio-container-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--words-no-5);
  letter-spacing: 2px;
  text-shadow: 3px 1px 2px rgb(212 169 169);
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio-item:hover .portfolio-item-img {
  border: 10px solid var(--words-no-5);
}
.portfolio-item-img {
  width: 90%;
  height: 200px;
  margin: 15px auto;
  border: 10px solid var(--words-no-2);
  border-radius: 20px;
}
/*.contact*/
.contact-container-head1,
.contact-container-head2 {
  letter-spacing: 3px;
  word-spacing: 3px;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10px;
}
.contact-container-content1,
.contact-container-content2 {
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
.contact-container-head2 {
  margin-top: 10px;
}
.contact-items {
  justify-content: space-between;
}
.contact-item1,
.contact-item2 {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
.contact-item3,
.contact-item4 {
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
}
.contact-item1 i,
.contact-item2 i,
.contact-item3 i,
.contact-item4 i {
  color: var(--main-color);
  font-size: 17px;
  margin-bottom: 10px;
}
.contact-item1 p,
.contact-item2 p,
.contact-item3 p,
.contact-item4 p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-item1 p:last-of-type,
.contact-item2 p:last-of-type,
.contact-item3 p:last-of-type,
.contact-item4 p:last-of-type {
  font-size: 15px;
  font-weight: normal;
  color: var(--words-no-5);
  margin-bottom: 10px;
}
.contact-form {
  flex-wrap: wrap;
}
.form-name,
.form-mail {
  flex: 0 0 50%;
  max-width: 50%;
  height: 100px;
}
.form-name input,
.form-mail input {
  display: inline-block;
  width: 90%;
  height: 60%;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-subject {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100px;
  text-align: center;
}
.form-subject input {
  display: inline-block;
  width: 95%;
  height: 60%;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-message {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-top: -10px;
}
.form-message textarea {
  width: 95%;
  height: 80%;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-name input::placeholder,
.form-subject input::placeholder,
.form-mail input::placeholder,
.form-message textarea::placeholder {
  font-size: 15px;
  text-decoration: underline;
}
.form-name input:hover,
.form-mail input:hover,
.form-subject input:hover,
.form-message textarea:hover {
  box-shadow: 0 0 10px var(--bg-grade-II);
}
.form-button {
  margin-left: 22px;
  width: 200px;
  transition: all 0.3s ease;
}
.form-button:hover {
  background-color: var(--bg-grade-III);
}
/*media*/
@media screen and (max-width: 1280px) {
  .aside {
    left: -300px;
  }
  .main-page .hide {
    display: inline-block;
  }
  .main-page {
    width: 100%;
  }
  .sections {
    left: 0;
    max-width: 100%;
  }
  .home-img {
    flex: 1 1 40%;
  }
  .about-skills {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .main-page {
    width: 70%;
  }
  .sections {
    left: 100px;
    max-width: 95%;
  }
  .home-text {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .image-container::before {
    right: 50px;
  }
  .home-img {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .home-img img {
    width: 200px;
  }
  .home-head2 {
    animation: job 3s infinite ease-in-out;
  }
  @keyframes job {
    0% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(-50px);
    }
  }
  .home-hire {
    height: 40px;
    left: 10px;
    top: 450px;
  }
  .about-header {
    flex: 1 1 90%;
    max-width: 90%;
  }
  .about-informations1 {
    flex-wrap: wrap;
  }
  .about-personal {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .about-informations2 {
    flex: 1 1 53%;
    max-width: 53%;
  }
  .about-skills {
    flex: 0 0 75%;
    max-width: 75%;
    height: 150px;
    margin-left: 0;
  }
  .about-skills * {
    height: 10px;
  }
  .about-buttons {
    position: relative;
    top: -28px;
    right: -304px;
  }
  .about-buttons .btn {
    height: 40px;
    position: absolute;
  }
  .about-buttons .btn:first-child {
    top: -60px;
    left: 27%;
  }
  .about-buttons .btn:last-child {
    top: -12px;
    left: 31%;
  }
  .about-educEx {
    margin-top: 83px;
  }
  .contact-items {
    flex-wrap: wrap;
  }
  .contact-item1,
  .contact-item2,
  .contact-item3,
  .contact-item4 {
    flex: 1 1 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 767px) {
    .sections {
      left: 65px;
      width: 767px;
    }
    .home {
      height: 50%;
      margin-bottom: 100px;
    }
    .home-text {
      flex: 0 0 76%;
      max-width: 76%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-content: space-between;
    }
    .home-text .home-head1 {
      font-size: 24px;
    }
    .home-text .home-head2 {
      font-size: 19px;
      animation: job 2s infinite ease-in-out;
    }
    .home-text .home-head2 .home-job {
      font-size: 22px;
    }
    @keyframes job {
      0% {
        transform: translateX(-7%);
      }
      50% {
        transform: translateX(12%);
      }
      100% {
        transform: translateX(-7%);
      }
    }
    .home-name {
      display: inline-block;
    }
    .home-text .home-paragraph {
      font-size: 1rem;
      margin-top: -80px;
    }
    .home-img {
      flex: 0 0 24%;
      max-width: 24%;
    }
    .image-container {
      width: 221px;
      right: -58%;
    }
    .image-container::before,
    .image-container::after {
      height: 50%;
      width: 50%;
    }
    .image-container::before {
      right: 78px;
    }
    .image-container .my-image {
      width: 55%;
    }
    .btn {
      width: 90px;
      font-size: 16px;
    }
    .home-hire {
      top: 5.5%;
    }
    .about {
      width: 140%;
    }
    .about .about-header {
      flex: 1 1 95%;
      max-width: 95%;
      font-size: 1.4rem;
    }
    .about-paragraph {
      flex: 1 1 95%;
      max-width: 95%;
      font-size: 0.9rem;
    }
    .about-skills {
      margin-top: 10px;
    }
    .about .buttons {
      display: none;
    }
    .about-personal {
      flex: 1 1 40;
      max-width: 40%;
    }
    .about-informations2 {
      flex: 1 1 55;
      max-width: 55%;
    }
    .about-personal li,
    .about-informations2 li {
      font-size: 0.8rem;
    }
    .personal-items,
    .informations2-items {
      font-size: 0.8rem;
    }
    .about-skills {
      flex: 1 1 90%;
      max-width: 90%;
    }
    .about-educEx .education-container,
    .about-educEx .experience-container {
      height: 725px;
    }
    .about-educEx .education-container .about-education .edSecHeader,
    .about-educEx
      .experience-container
      .about-education
      .education-section
      .edSecHeader {
      font-size: 0.9rem;
    }
    .about-educEx .education-container .about-education .edSecContent,
    .about-educEx
      .experience-container
      .about-education
      .education-section
      .edSecContent {
      font-size: 0.8rem;
    }
    .services {
      width: 140%;
    }
    .services .services-container {
      flex-wrap: wrap;
    }
    .services .services-container .services-item {
      flex: 1 1 50%;
      max-width: 50%;
    }
    .services .services-container .services-item .service-item-head {
      font-size: 1.3rem;
    }
    .services .services-container .services-item .service-item-description {
      font-size: 1.1rem;
    }
    .portfolio {
      width: 140%;
    }
    .portfolio .portfolio-container .portfolio-item {
      flex: 1 1 50%;
      max-width: 50%;
    }
    .contact {
      width: 140%;
    }
    .contact .contact-container .contact-items .contact-item1 p,
    .contact .contact-container .contact-items .contact-item2 p,
    .contact .contact-container .contact-items .contact-item3 p,
    .contact .contact-container .contact-items .contact-item4 p {
      font-size: 0.8rem;
    }
    .contact .contact-container .contact-container-content2 {
      font-size: 0.9rem;
    }
    .contact .contact-container .contact-form .form-button {
      width: 113px;
      height: 60px;
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 550px) {
    .home {
      width: 150%;
    }
    .home .home-img {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    .main-page {
      width: 100%;
    }
    .sections {
      width: 480px;
      left: 25px;
    }
    .home {
      flex: 1 1 90%;
      max-width: 90%;
      height: 300px;
    }
    .home-img {
      display: none;
    }
    .home-text {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .home-hire {
      top: 5.5%;
    }
  }
  .about,
  .services,
  .portfolio,
  .contact {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .about .about-header {
    font-size: 1.2rem;
  }
  .about .personal-informations .about-informations1 {
    flex: 0 0 97%;
    max-width: 97%;
  }
  .about .about-header .about-job {
    display: block;
  }
  .about .about-educEx {
    margin-top: 95px;
    flex-wrap: wrap;
  }
  .education-container,
  .experience-container {
    flex: 0 0 92%;
    max-width: 92%;
  }
  .education-container {
    margin-bottom: 5px;
  }
  .services .services-container .services-item {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .portfolio,
  .contact {
    width: auto;
  }
  .portfolio .portfolio-container {
    margin-left: 20px;
  }
  .portfolio .portfolio-container .portfolio-item {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .contact .contact-container .contact-items .contact-item1,
  .contact .contact-container .contact-items .contact-item2,
  .contact .contact-container .contact-items .contact-item3,
  .contact .contact-container .contact-items .contact-item4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-form .form-name,
  .contact-form .form-mail {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form-name input,
  .form-mail input {
    margin-top: auto;
  }
  .form-subject input {
    width: 90%;
  }
}
